body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: #f4f4f4;
}
.help{
    background: #000;
    color: #fff;
    padding: 5px;
    min-height: 20px;
    text-align: center;
}
#help{
    font-size: 1.9rem;
    letter-spacing: 1px;
    margin: 0 auto 0 auto;
}
span{
    color: #db9600;
}
header{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#fff;
    color: #ffffff;
    padding: 1px;
    height: 60px;
    color: #000;
   max-width: 2000px;
    margin: auto auto;
}  

.img{
    flex: 1;
    padding: 1px
}
img{
    width: 50%;
    padding-top: 1px;
    padding-left: 30px 
}
form{
   flex: 2;
}
input{
    width:80%;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #0808083d;
}
input:focus{
    outline-style: none;
}
.btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    height: 36px;
    background: #f18a28;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 12px
}
.btn:hover{
    background: #d37a27ee;
}
a{
    text-decoration: none;
    color: #08080891;
}
a:hover{
    color: #ff9028;
}
 header nav{
    margin-right: 155px;
    flex: 1;

}
 nav li{
    display: inline;
    padding: 0 20px;
    font-weight: bold;
}
#container{
    max-width:1100px;
    margin: auto auto;
    overflow: hidden;
   
}
.showcase{
    margin-top: 10px;
    display: flex;

}
.showcase .sidebar-1, .center, .sidebar-2{
    border: 1px #f4f4f4 solid;
}
.sidebar-1{
    flex: 1;
    background:#fff;
    height: 200px;
    margin-right: 20px;
    width: 50px
}


.center{
    width: 570px;
    flex: 2;
    min-height: 330px;
    background: url('jumia images/Holiday-Savings-Slider-1.jpg')no-repeat center/cover;
}
.sidebar-2{
    flex: 1;
    margin-left: 20px;
    height: 190px;
    width: 50px;
    background: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content-1{
    width: 180px;
    margin-right: 50px;
    font-weight: 500;
    color: #080808d7
}
.bo{
    width: 15%;
    margin-right: 10px
}

#sidebar-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* border: 1px solid;*/
   margin-right: 40px
}

#sidebar-2 li{
    font-weight: normal;
    display: block;
}


.sidebar-1 li {
   display: block;
   margin-bottom: 10px;
   font-size: 13px; 
}
.sidebar-1 a{
    color:#000;
}
.sidebar-1 a:hover{
    color: #ff9028;
}
.sidebar-2 li{
    display: block;
}

.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   
}
.sec div{
    background: #fff;
    margin: auto auto;
    display: flex;
    width: 300px;
    margin-left: 10px;
    height: 50px;
    
}
.sec-list{
    margin-right: 70px;
    color:  #080808ce;
    font-weight: 600


}
.bo-1{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 5px;
}

.top-selling{
    background-color: #fff;
    margin-top: 15px;
    height: 310px

}
.top-selling h3{
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom:5px ;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 1.1rem;
    color:#080808ce;
}
.top-selling img{
    width: 70%;
    margin-top: 0;
   
}
.top-sdiv{
    display: flex;
   margin-top: 6px;

}
.button{
    display: none;
    margin:auto ;
    margin-bottom: 0px;
    padding: 6px;
    background-color: #f18a28;
    font-weight: 600;
    color: #fff;
    width: 100%;
    
}
.card:hover .button{
    border: none;
    display: block;
}
.button:hover{
    background-color:#f79235e0
}
.button:active{
    background-color:#fff;
    color: #ff9028;
}
.button:focus{
    outline-style: none;
}
.card:hover {
    border: 3px solid #08080818;
    /* box-shadow: #08080818; */
    
}
.top-sdiv h4{ 
    padding-left: 25px;
    font-weight: 400;
    margin-top: 0;
    font-size: 13px
}
.top-sdiv p{
    font-weight: 500;
    margin-top: 0px;
}
.line{
    background-color: #f18a28
}
#newsletter{
    margin-bottom: 0px;
    background-color: #080808d2;
    padding-bottom: 40px;
  
    
}
#move{
  
    margin-left: 20rem;
    margin-bottom: 0;
}
#newsletter h4{
    padding-top: 20px;
    font-size: 0.8rem;
    color: #fff;
    margin-bottom: 5px
}
#newsletter p{
    margin-top: 0;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 100
}
#newsletter input{
    width: 40%;
    height: 1.5rem;
}
#newsletter input:focus{
    outline-style: none;
}
.male{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 7px 6px;
    margin-left: 10px;
    width:60px;
    border-radius: 4px;
    font-size: 11px
}
.male:hover{
    border: 1px solid #f18a28;
    color: #f18a28;
}
.female{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 7px 6px;
    margin-left: 10px;
    width:60px;
    border-radius: 4px;
    font-size: 11px
}
.female:hover{
    border: 1px solid #f18a28;
    color: #f18a28;
}
.stuff{
    height: 300px;
    background-color: #000000c2;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-content: center;

}
.stuff h4{
    margin-top:30px ;
    font-size: 0.7rem
}
.order a{
    color: #fff;
    font-size: 0.7rem;
    
}
.order a:hover{
    text-decoration: underline
}
.order li{
   list-style: none;
}
.td{
    padding-left: 25px
}
@media(max-width: 769px){
    body{
        width: 80%;
    }
  .top{
      width: 80%;
  }
    .showcase{
        flex-direction: column;
    }
    .sidebar-1{
        visibility: hidden;
    }
}
